
body {
  text-align: center;
  font-family: Arial;
  margin: 0;
  padding: 0;
}


#header1 {
  background-color: #fec533;
  height: 100px;
  text-align: center;
}

h1 { 
	padding: 25;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: -5.2pt;
}

#header2 {
  background-color: #e5e5e5;
  height: 8px
}

#footer {
  background-color: #e5e5e5;
  height: 25px;
  text-align: center;
  font-family: Arial;
}

div.box {
  display: inline-block;
  margin: 0px;
  border: 2px solid #000000;
}

div.cell {
  display: inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #000000;

}

.incorrect {
  background-color: red;
}

.value-provided {
  background-color: #DDD;
}

.submit_button {
  border: 1px solid #000000;
  display: inline-block;

}

#sudoku {
  font-size: 0;
  text-align: center;
  margin: 20px;
}

/*#sudoku_table {
  border: 2px solid #000000;

}*/