
body {
  text-align: center;
  font-family: Arial;
  margin: 0;
  padding: 0;
}


#header1 {
  background-color: #fec533;
  height: 100px;
  text-align: center;
}

#header2 {
  background-color: #e5e5e5;
  height: 8px
}


#footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
}
#footer1 {
  background-color: #e5e5e5;
  height: 8px;
}
#footer2 {
  background-color: #BABABA;
  height: 80px;
  width: 100%;
  padding: 15px; 
  text-align: center;
	color: #5C5C5C;
	font-family: Helvetica;
	font-weight: 100;
	letter-spacing: -1pt;
	font-size: 9pt;
}




h1 { 
	padding: 25;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: -5.2pt;
}

h3 { 
	color: #A1A1A1;
	font-family: Helvetica;
	font-weight: 100;
	letter-spacing: -2pt;
}





div.box {
  display: inline-block;
  margin: 0px;
  border: 1px solid #000000;
}

div.cell {
  display: inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #000000;
}

.incorrect {
  background-color: #fec533;
}

.value-provided {
  background-color: #e5e5e5;
}

.submit_button {
  border: 1px solid #5C5C5C;
  background-color:#ededed;
  display: inline-block;
}.submit_button:hover {
	background-color:#BABABA;
}.submit_button:active {
	color: white;
}

.position_button {
	position: relative;
	top: -20;
}
#progress { left: 83; top: 4}
#solution{ left: 0 ;}
#restart{ left: -83; top: -44}


#sudoku {
  font-size: 0;
  text-align: center;
  margin: 80px;
  position: relative;
}



#flash {
  text-align: center;
  margin: 20px;
  position: fixed;
  top: 120px;
  color: #fec533;
}

/*#sudoku_table {
  border: 2px solid #000000;

}*/